apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app_name }}-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/{{ github_org }}/{{ project_name }}
    targetRevision: main
    path: applications/{{ app_name }}
    directory:
      include: applicationset.yaml
  destination:
    server: {{ cluster_server }}
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
