apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: {{ project_name }}

images:
  - name: {{ docker_registry }}/{{ project_name }}
    newTag: latest

replicas:
  - name: {{ project_name }}
    count: 3
